# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
.npm/
frontend/config.js

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini

# Logs
*.log
logs/
*.db
nul
backend/nul

